<div class="box author-profile">
    <div class="has-text-centered">
        <figure class="image is-128x128" style="margin: 0 auto 1rem;">
            <img src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }}" class="is-rounded">
        </figure>
        <h3 class="title is-4">{{ site.author.name }}</h3>
        <p class="subtitle is-6">{{ site.author.bio }}</p>
        <p class="has-text-grey">
            <span class="icon">
                <i class="fas fa-map-marker-alt"></i>
            </span>
            {{ site.author.location }}
        </p>
    </div>

    <hr>

    <div class="social-links">
        <h4 class="title is-6 has-text-centered">Follow Me</h4>
        <div class="buttons are-small is-centered">
            {% if site.social.twitter %}
            <a href="{{ site.social.twitter }}" target="_blank" class="button is-twitter" title="Twitter">
                <span class="icon">
                    <i class="fab fa-twitter"></i>
                </span>
            </a>
            {% endif %}

            {% if site.social.facebook %}
            <a href="{{ site.social.facebook }}" target="_blank" class="button is-facebook" title="Facebook">
                <span class="icon">
                    <i class="fab fa-facebook"></i>
                </span>
            </a>
            {% endif %}

            {% if site.social.linkedin %}
            <a href="{{ site.social.linkedin }}" target="_blank" class="button is-linkedin" title="LinkedIn">
                <span class="icon">
                    <i class="fab fa-linkedin"></i>
                </span>
            </a>
            {% endif %}

            {% if site.social.instagram %}
            <a href="{{ site.social.instagram }}" target="_blank" class="button is-instagram" title="Instagram">
                <span class="icon">
                    <i class="fab fa-instagram"></i>
                </span>
            </a>
            {% endif %}

            {% if site.social.youtube %}
            <a href="{{ site.social.youtube }}" target="_blank" class="button is-youtube" title="YouTube">
                <span class="icon">
                    <i class="fab fa-youtube"></i>
                </span>
            </a>
            {% endif %}

            {% if site.social.soundcloud %}
            <a href="{{ site.social.soundcloud }}" target="_blank" class="button is-soundcloud" title="Soundcloud">
                <span class="icon">
                    <i class="fab fa-soundcloud"></i>
                </span>
            </a>
            {% endif %}

            {% if site.social.flickr %}
            <a href="{{ site.social.flickr }}" target="_blank" class="button is-flickr" title="Flickr">
                <span class="icon">
                    <i class="fab fa-flickr"></i>
                </span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

<style>
.author-profile {
    position: sticky;
    top: 20px;
}

.author-profile .image img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.author-profile .social-links {
    margin-top: 1rem;
}

.author-profile .buttons {
    flex-wrap: wrap;
    justify-content: center;
}

/* Social button colors */
.button.is-twitter {
    background-color: #1DA1F2;
    color: white;
}

.button.is-twitter:hover {
    background-color: #1a8cd8;
}

.button.is-facebook {
    background-color: #1877F2;
    color: white;
}

.button.is-facebook:hover {
    background-color: #166fe5;
}

.button.is-linkedin {
    background-color: #0A66C2;
    color: white;
}

.button.is-linkedin:hover {
    background-color: #004182;
}

.button.is-instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: white;
}

.button.is-instagram:hover {
    opacity: 0.9;
}

.button.is-youtube {
    background-color: #FF0000;
    color: white;
}

.button.is-youtube:hover {
    background-color: #cc0000;
}

.button.is-soundcloud {
    background-color: #FF5500;
    color: white;
}

.button.is-soundcloud:hover {
    background-color: #e64d00;
}

.button.is-flickr {
    background-color: #0063DC;
    color: white;
}

.button.is-flickr:hover {
    background-color: #0054b8;
}
</style>
